# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libe.pc
/libe.upack
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/stamp-h1
/test/array_ptr
/test/bitfield
/test/bitsteal
/test/buffer
/test/convert
/test/endian
/test/guard
/test/intrusive_ptr
/test/locking_iterable_fifo
/test/nonblocking_bounded_fifo
/test/pow2
/test/safe_math
/test/seqno_collector
/test/varint
